/dataproject.py
/defe.py
/discount.py
/grade_calculator2.py
/life-expectancy.csv
/loops.py
/mad_lib.py
/meal_calculator.py
/passwords.py
/shopping.py
/stringmethod.py
/tire_volume.py
/toppasswords.txt
/volumes.txt
/windchill.py
/wordlist.txt